body {
    font-family: 'Roboto', sans-serif;
    background: #211f1d;
    color: #f8b92e;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}

.header {
    margin-top: 40px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.header p {
    text-align: center;

}

.links {
    margin-top: 40px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

a {
    margin-right: 25px;
    font-size: large;
    color: #f8b92e;
    text-decoration: none;
}

a:hover {
    font-size: 19px;
    transition-property: font-size, border-bottom;
    transition-duration: 1s;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: center;
    width: 120px;
}
